/*Обнуление*/
*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    width: 100%;
    /*height: 100%;*/
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
}
input,button,textarea{
    font-family:inherit;
    outline: none;
    border: none;
}
input::-webkit-contacts-auto-fill-button {
    visibility: hidden;
    display: none !important;
    pointer-events: none;
    position: absolute;
    right: 0;
}
button,select{cursor: pointer;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {  display: none;}
input::-webkit-outer-spin-button,   /* убрать стрелочки у type: number */
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Days One";
    src: url("../fonts/DaysOne-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Mada";
    src: url("../fonts/Mada-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Mada";
    src: url("../fonts/Mada-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Krona One";
    src: url("../fonts/KronaOne-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Jura";
    src: url("../fonts/Jura-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    --font-family: "Montserrat", sans-serif;
    --second-family: "Days One", sans-serif;
    --third-family: "Mada", sans-serif;
    --font3: "Krona One", sans-serif;
    --font4: "Open Sans", sans-serif;
    --font5: "Jura", sans-serif;
}
html{
    min-height: 100%;
    height: auto;
}
body{
    font-family: var(--font-family),sans-serif;
    font-weight: 500;
    min-height: 100%;
    height: 100%;
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #24b1fd 10.58%, #9b58fb 71.63%);
    border-radius: 25px;
    width: 100%;
    max-width: 223px;
    min-height: 45px;

    font-family: var(--font-family),sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: 118%;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fff;
}
.button-gray{
    font-family: var(--font-family),sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 112%;
    letter-spacing: -0.02em;
    text-align: center;
    color: #5e5e5e;
    background: #e5e5e5;
    margin-top: 18px;
}
.button:disabled{
    background: #d6d8d9;
}
.button-triangle{
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 45px;
    width: 100%;
    max-width: 223px;
    background: linear-gradient(45deg, #24b1fd 10.58%, #9b58fb 71.63%);
    border-radius: 25px;

    font-family: var(--font-family),sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 118%;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fff;
}
.button-triangle.disable{
    background: #d9d7d7;
}
.linear-text{
    font-family: var(--font-family),sans-serif;
    font-weight: 600;
    line-height: 118%;
    text-align: center;
    background: linear-gradient(90deg, #2b2d68 0%, #89b0ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.main{
    width: 100%;
    min-height: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*------------------------------------------------------------
                         INDEX.HTML
------------------------------------------------------------*/
.main.index{
    max-width: 295px;
    padding: 0;
    padding-top: 50px;
}
.bodyIndex{
    background: linear-gradient(220deg, #f5a9cf 0%, #fff 44.39%, #bfe3f5 100%);
}
.index-img{
    margin-bottom: 8px;
}
.index-post-title {
    font-family: var(--font5),sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 118%;
    text-align: center;
    color: #1f2937;
    margin-bottom: 52px;
    max-width: 244px;
}

.index-title {
    font-size: 25px;
    margin-bottom: 52px;
}

.index-sub-tittle {
    font-family: var(--third-family),sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 132%;
    text-align: center;
    color: #1f2937;

    margin-bottom: 51px;
    max-width: 245px;
}
/*------------------------------------------------------------
                         STEPS.HTML
------------------------------------------------------------*/

.bodySteps{
    background: linear-gradient(224deg, #ffecff 0%, #bce8ff 100%);
}
.steps{
    padding: 50px 12px;
    row-gap: 18px;
    max-width: 375px;
}
.steps-header{
    width: 100%;
    text-align: center;
    position: relative;
}
.steps-header > img{
    width: 160px;
}
.steps-header-button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}
.steps-items{
    padding: 18px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 30px;

    background-image: url("data:image/svg+xml,%3Csvg width='352' height='525' viewBox='0 0 352 525' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 15C0 6.71573 6.71573 0 15 0H337C345.284 0 352 6.71573 352 15V510C352 518.284 345.284 525 337 525H294.062H272.199H248.149H15C6.71574 525 0 518.284 0 510V15Z' fill='url(%23paint0_linear_208_91)' fill-opacity='0.6' /%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_208_91' x1='8.5791e-06' y1='583.769' x2='371.429' y2='569.417' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0.905591' stop-color='%23FFFEFF' /%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
    background-repeat: no-repeat;
    border-radius: 15px;
    margin-top: 10px;
}
.steps-item-title{
    font-size: 25px;
    margin-bottom: 10px;
}
.steps-item-text{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    line-height: 154%;
    text-align: center;
    color: #2b2d68;
}
.steps-item-text span{
    font-weight: 600;
}
.steps-title{
    font-family: var(--second-family),sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 118%;
    text-align: center;
    background: linear-gradient(90deg, #2b2d68 0%, #89b0ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 8px;
}
/*------------------------------------------------------------
                         LOGIN.HTML
------------------------------------------------------------*/

.login-prev-button-container{
    position: relative;
}
.bodyLogin{
    background: linear-gradient(136deg, #c7e6f6 0%, #fff 49.52%, #f9c8e0 100%);
}
.login{
    padding: 50px 26px 0 26px;
    max-width: 375px;
}
.login-header {
    width: 100%;
    text-align: center;
}
.login-title {
    font-size: 26px;
    margin-bottom: 25px;
    margin-top: 34px;
}
.login-subtitle {
    font-family: var(--third-family),sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 169%;
    text-align: center;
    color: #2b2d68;

    max-width: 310px;
    margin: 0 auto;
}

.login-form {
    width: 100%;
    margin-top: 28px;
    margin-bottom: 50px;
}

.login-form-item:not(:last-child) {
    margin-bottom: 5px;
}

.login-form-input {
    max-width: 318px;
    width: 100%;
    padding: 22px;
    height: 67px;
    font-family: var(--font-family),sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 118%;
    letter-spacing: -0.02em;
    color: #5e5e5e;
    border: 0.50px solid #f5f2f2;
    border-radius: 10px;
    background: linear-gradient(45deg, #ffffff 0%, #fffeff 90.56%);

}
.login-form-input::placeholder {
    font-family: var(--font-family),sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 118%;
    letter-spacing: -0.02em;
    color: #5e5e5e;
}


/*custom-select*/

.custom-select {
    position: relative;
    width: 100%;
}

.select-selected {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 22px;
    max-width: 318px;
    height: 67px;
    font-family: var(--font-family),sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 118%;
    letter-spacing: -0.02em;
    color: #5e5e5e;
    border: 0.50px solid #f5f2f2;
    border-radius: 10px;
    background: linear-gradient(45deg, #ffffff 0%, #fffeff 90.56%);

}
.select-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: transparent;
    border: none;
    /*border-radius: 25px;*/
    z-index: 100;
    max-height: 200px;
    overflow-y: auto;
}

.select-options.show {
    display: block;
}

.option {
    max-width: 318px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 22px;
    font-family: var(--font-family),sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 118%;
    letter-spacing: -0.02em;
    color: #5e5e5e;
    border: 1px solid #f5f2f2;
    background: linear-gradient(45deg, #ffffff 0%, #fffeff 90.56%);

}
.option:last-child{
    border-radius: 0 0 10px 10px;
}
.option:hover {
    background-color: #f0f0f0;
}

.select-placeholder {
    font-family: var(--font-family),sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 118%;
    letter-spacing: -0.02em;
    color: #5e5e5e;
}

/*------------------------------------------------------------
                         LOADING.HTML
------------------------------------------------------------*/

.loading{
    max-width: 375px;
    padding-top: 50px;
}
.bodyLoading{
    background: linear-gradient(224deg, #fef6fe 0%, #f2f7ff 100%);
}
.loading-header{
    width: 100%;
    text-align: center;
}
.loading-title{
    font-size: 23px;
    max-width: 225px;
    margin: 35px auto 60px;
}
.loading-time{
    font-family: var(--third-family),sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 118%;
    color: #1f2937;

    margin-top: 90px;
}


/*------------------------------------------------------------
                         QUESTION.HTML
------------------------------------------------------------*/

.bodyQuestion{
    background: linear-gradient(177deg, #fff 5.29%, #d0eaf7 35.1%, #fbd6e8 68.75%, #fff 100%);
}
.question{
    max-width: 375px;
    padding: 30px 15px;
}
.question-prev-button-container{
    position: relative;
}
.question-num{
    font-size: 20px;
}
.question-header{
    width: 100%;
    text-align: center;
    margin-bottom: 35px;
}
.question-title{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 118%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2b2d68;
    max-width: 320px;
    margin: 45px auto 0 auto;
}
.question-area-container {
    margin-bottom: 40px;
    width: 100%;
}
.question-area-note{
    font-family: var(--font-family),sans-serif;
    font-weight: 300;
    font-size: 11px;
    line-height: 118%;
    color: #2b2d68;
    margin-left: 12px;
    margin-bottom: 8px;
}
.question-area-note span{
    color: #fb0e12;
}
.micro-button{
    width: 90px;
    height: 90px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -45px;
    background: transparent;
    border-radius: 50%;
}

.write-icon {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 10px;
}
.write-icon span{
    font-family: var(--font4),sans-serif;
    font-weight: 400;
    font-size: 32px;
    color: #9f9f9f;
}
.question-area {
    font-family: var(--font4), sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #2b2d68;
    height: 400px;
    width: 100%;
    resize: none;
    padding: 14px;
    border-radius: 5px;
    border: 1px solid #F5F5F5;
    background: transparent;

    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.06);
    background: linear-gradient(45deg, rgba(255, 254, 255, 0.6) 0%, rgba(240, 240, 240, 0.6) 90.56%);
    position: relative;
    z-index: 1;
}
/*------------------------------------------------------------
                         DOWNLOAD.HTML
------------------------------------------------------------*/

.bodyDownload{
    background: linear-gradient(181deg, #bfe3f5 5.29%, #fff 37.56%, #ffe5f2 91.83%);
}
.download{
    max-width: 375px;
    padding: 30px 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.download-header{
    text-align: center;
    margin-bottom: 25px;
}


/* decoding */

.decoding {
    width: 100%;
    border-radius: 15px;
    padding: 30px 10px 20px;
    background: linear-gradient(45deg, rgba(255, 254, 255, 0.6) 0%, rgba(240, 240, 240, 0.6) 90.56%);
    position: relative;
}
.decoding-base{
    padding: 20px;
    margin-bottom: 6px;
}
.decoding-list-item{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    line-height: 132%;
    color: #2b2d68;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 12px;
}
.decoding-list-item img{
    width: 13px;
    margin-top: -6px;
}
.decoding-list-item:not(:last-child){
    margin-bottom: 10px;
}
.decoding::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 15px;
    padding: 2px;
    background: linear-gradient(
            135deg,
            #FF95BE 0%,
            #D119FF 48%,
            #24B1FD 92%
    );
    -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.decoding-title {
    font-family: var(--font-family),sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 153%;
    text-transform: uppercase;
    color: #2b2d68;

    margin-bottom: 20px;
    margin-left: 32px;
}
.decoding-title-price{
    font-weight: 500;
    font-size: 16px;
    margin-left: 25px;
}
.decoding-item:not(:last-child) {
    margin-bottom: 10px;
}
.decoding-item:first-child .decoding-item-header-title{
    font-weight: 600;
}
.decoding-item-header {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    column-gap: 12px;
}

.decoding-item-header-icon {
    width: 20px;
}
.decoding-item-header-title {
    font-family: var(--font-family),sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 132%;
    color: #2b2d68;
}
.decoding-item-header-title span{
    font-size: 15px;
    font-weight: 500;
}
.decoding-item-list {
    margin-top: 5px;
    margin-left: 32px;
}

.decoding-item-list-item {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 132%;
    color: #2b2d68;
}
.decoding-item-list-item span{
    font-weight: 600;
}
.decoding-download {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin-top: 20px;
}
.decoding-download-image{
    width: 63px;
    height: 63px;
    margin-bottom: 10px;
    margin-right: 28px;
}
.decoding-download-image img {
    width: 100%;
}

.decoding-download-button {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 15px;
    width: 125px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.08);
    background: #21b1ff;

    font-family: var(--font-family),sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 138%;
    text-align: center;
    color: #fff;
}
.decoding-buy {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 106px;
    margin-left: auto;
    margin-top: 15px;
    margin-bottom: -4px;
}

.decoding-buy-price {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 25px;
    line-height: 131%;
    text-align: center;
    background: linear-gradient(180deg, #2b2d68 0%, #89b0ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.decoding-buy-price-text {
    font-family: var(--font-family),sans-serif;
    font-weight: 600;
    line-height: 131%;
    text-align: center;
    background: linear-gradient(180deg, #2b2d68 0%, #89b0ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 15px;
}

.decoding-buy-button {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: var(--font-family),sans-serif;
    font-weight: 600;
    font-size: 11px;
    line-height: 138%;
    text-align: center;
    color: #fff;
    border-radius: 100px;
    width: 100%;
    height: 32px;
    background: linear-gradient(45deg, #24b1fd 10.58%, #9b58fb 71.63%);
}
.decoding-body{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.decoding-base-download{
    margin-top: 0;
}
.decoding-base-body{
    align-items: flex-start;
}
.decoding-title-offer{
    font-family: var(--font-family),sans-serif;
    font-weight: 600;
    line-height: 144%;
    text-align: center;
    color: #2b2d68;
    font-size: 18px;
    letter-spacing: 0.01em;
    text-transform: lowercase;
    margin-bottom: 20px;
}
.decoding-title-offer span{
    font-size: 16px;
    text-transform: uppercase;
}

.decoding-offer {
}

.decoding-offer-text {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 128%;
    letter-spacing: -0.02em;
    text-align: center;
    color: #2b2d68;
    margin-top: 30px;
    margin-bottom: 5px;
}

.decoding-offer-time {
    font-family: var(--font-family),sans-serif;
    line-height: 128%;
    text-align: center;
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 0.09em;
    color: #ff3172;

    margin-bottom: 20px;
}

.decoding-offer-button {
    border-radius: 25px;
    min-height: 65px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
    background: #ff3172;
    padding: 0 40px;
}

.decoding-offer-button-price {

}

.decoding-offer-button-current-price {
    font-family: var(--font-family),sans-serif;
    font-weight: 600;
    font-size: 25px;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-align: center;
    color: #fff;
}

.decoding-offer-button-old-price {
    display: inline-block;
    font-family: var(--font-family),sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-align: left;
    color: #fff;
}
.decoding-offer-button-old-price span{
    font-size: 15px;
    text-decoration: line-through;
}

.decoding-offer-button-payment-method {
    font-family: var(--font-family),sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 138%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}
.decoding-offer-button-payment-method span{
    font-size: 11px;
    display: inline-block;
    text-wrap: nowrap;
}



/*------------------------------------------------------------
                         PRICE.HTML
------------------------------------------------------------*/

.bodyPrice-offer{
    background: linear-gradient(181deg, #bfe3f5 5.29%, #fff 37.56%, #ffe5f2 91.83%);
}
.bodyPrice{
    background: linear-gradient(179deg, #f5a9cf 0%, #fff 44.39%, #bfe3f5 100%);
}
.price{
    max-width: 375px;
    padding: 30px 12px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.button-price{
    font-size: 20px;
}
.price-logo {
    margin-bottom: 25px;
}

.price-link{
    font-family: var(--font-family),sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 112%;
    letter-spacing: -0.02em;
    color: rgba(0, 0, 0, 0.32);
    margin-top: 25px;
}

/*------------------------------------------------------------
                         PAYMENT.HTML
------------------------------------------------------------*/

.bodyPayment{
    background: linear-gradient(224deg, #fef6fe 0%, #f2f7ff 100%);
}
.payment{
    max-width: 375px;
    padding-top: 50px;
}
.payment-body {
    margin-bottom: 35px;
    text-align: center;
}
.payment-icon {
    max-width: 63px;
    margin: 60px auto 16px;
}
.payment-title {
    font-size: 23px;
    margin-bottom: 78px;
}
.payment-price {
    font-family: var(--font-family),sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 118%;
    text-align: center;
    color: #305588;

    margin-bottom: 10px;
}

.payment-text {
    font-family: var(--font-family),sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 153%;
    text-align: center;
    color: #2b2d68;
    max-width: 259px;
    margin: auto;
}
.payment-text span{
    font-weight: 600;
    line-height: 132%;
    display: block;
    margin-top: 7px;
}
.uncomplete-payment-title{
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}
.uncomplete-payment-icon{
    margin: 52px auto;
}
.uncomplete-payment-text{
    margin-bottom: 25px;
}

/*------------------------------------------------------------
                         PAYMENT.HTML
------------------------------------------------------------*/

.bodyAnswers{
    background: linear-gradient(224deg, #fef6fe 0%, #f2f7ff 100%);
}
.answers{
    padding: 50px 26px;
    max-width: 375px;
}
.answers-title{
    margin-bottom: 33px;
    font-size: 26px;
}
.answers-logo {
    margin-bottom: 55px;
}
.button-answers{
    max-width: 277px;
    height: 67px;
    font-family: var(--font-family),sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 112%;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fff;
}
#answers-acc{
    margin-bottom: 35px;
}
#answers-acc .ui-accordion-header{
    padding: 22px 0;

    font-family: var(--font-family),sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 118%;
    letter-spacing: -0.02em;
    color: #2b2d68;
    border-bottom: 1px solid #e5e5e5;
}
#answers-acc .ui-accordion-header-active{
    border-bottom: none;
}
#answers-acc .ui-accordion-content{
    height: auto;
}
#answers-acc .ui-accordion-content p{
    font-family: var(--font-family),sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 118%;
    color: #2b2d68;
}



@media screen and (max-width: 361px) {
    .button-download img{
        max-width: 309px;
        width: 100%;
        font-size: 18px;
    }
    .decoding-base{
        padding: 20px 10px;
    }
}
@media screen and (max-width: 350px) {
    .button-download span{
        font-size: 17px;
    }
    .download-file{
        column-gap: 15px;
        padding: 20px 10px;
    }
    .free-price-plan{
        padding: 15px 7px;
    }
    .paid-price-plan{
        padding: 15px 10px;
    }
    .paid-price-plan-action{
        font-size: 10px;
    }
    .action-time{
        font-size: 18px;
        margin-top: 7px;
    }
    .payment-icon {
        margin: 40px auto 25px;
    }
    .decoding-offer-button {
        padding: 0 20px;
    }
}










